<div id="yt-masthead">
    <div class="yt-masthead-logo-container">
        <a href="/" id="logo-container" class="spf-link" title="AubyTube home">
            <img src="/ats/imgbin/pixel.gif" alt="AubyTube home" id="logo">
        </a>
        {% if nirvana %}
        <div id="appbar-guide-button-container">
            {% apply spaceless %}
            <button id="appbar-guide-button" class="yt-uix-button yt-uix-button-size-default yt-uix-button-text yt-uix-button-empty yt-uix-button-has-icon appbar-guide-toggle appbar-guide-clickable-ancestor">
                <span class="yt-uix-button-icon-wrapper">
                    <span class="yt-uix-button-icon yt-uix-button-icon-appbar-guide yt-sprite"></span>
                </span>
                <span class="yt-uix-button-arrow yt-sprite"></span>
            </button>
            {% endapply %}
        </div>
        {% endif %}
    </div>
    <div id="yt-masthead-signin">
        <span id="appbar-onebar-upload-group">
            {% apply spaceless %}
            <a href="/upload" id="upload-btn" class="yt-uix-button yt-uix-button-size-default yt-uix-button-default">
                <span class="yt-uix-button-content">Upload</span>
            </a>
            {% endapply %}
        </span>
        {% apply spaceless %}
        <a href="/signin" class="yt-uix-button yt-uix-button yt-uix-button-size-default yt-uix-button-primary">
            <span class="yt-uix-button-content">Sign in</span>
        </a>
        {% endapply %}
    </div>
    <div id="yt-masthead-content">
        <form action="/results" id="masthead-search" class="search-form consolidated-form" onsubmit="if (_gel('masthead-search-term').value == '') return false;">
            <button id="search-btn" class="yt-uix-button yt-uix-button-size-default yt-uix-button-default search-btn-component search-button" type="submit" onclick="if (_gel('masthead-search-term').value == '') return false; _gel('masthead-search').submit(); return false;;return true;" tabindex="2">
                <span class="yt-uix-button-content">Search</span>
            </button>
            <div id="masthead-search-terms" class="masthead-search-terms-border">
                <label>
                    <input name="search_query" type="text" id="masthead-search-term" class="search-term yt-uix-form-input-bidi" autocomplete="off" spellcheck="false" style="outline: currentcolor none medium;" title="Search">
                </label>
            </div>
        </form>
    </div>
</div>