{% extends "core/core.twig" %}
{% import "core/macros.twig" as core %}

{% set nirvana = true %}
{% set guidePinning = true %}
{% set appbarHidden = true %}
{% set spfEnabled = true %}
{% set pageType = "home" %}
{% set pageId = "what_to_watch" %}

{%- block headCss -%}
{{ core.css("www-home-c4") }}
{% endblock %}

{%- block content -%}
<div id="debug" class="hid">
    {{ at.page.data|json_encode() }}
</div>
<div class="branded-page-v2-container branded-page-base-bold-titles branded-page-v2-container-flex-width branded-page-v2-secondary-column-hidden">
    <div class="branded-pagae-v2-col-container">
        <div class="branded-page-v2-col-container-inner">
            <div class="branded-page-v2-primary-col">
                <div class="yt-card clearfix">
                    <div class="branded-page-v2-body branded-page-v2-primary-column-content">
                        <div id="feed">
                            <div id="feet-main-what_to_watch" class="individual-feed">
                                <ol id="section-list" class="section-list">

                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}